<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit</title>
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">

</head>
<body>
    <div class="Credit">
        <div class="image-container">
            <p><img src="images/1630902755_Link.jpg" alt="Nattachai" style="width: 60%;"></p>
        <div>
        </div class="title">
        <h2>Nattachai Phuake</h2>
        <h2>1630902755</h2>
        <h2>Computer & Robotic Engineering</h2>
        <h2>Bangkok University</h2>


    </div>

</div>
    
</body>
</html>