<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nattachai Profile Site</title><!--กำหนดtitleของหน้าเว็บ--> 
    <!--Reference Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Aclonica'rel='stylesheet'>
    <!--Reference Social Media Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    

    <!--External CSS => 3rd Priority-->
    <link rel="stylesheet" href="css/index.css"><!--กำหนดให้สามารถใช้ css ของ index.css-->

    <!--Add Favicon Icon => https://www.favicon.cc/-->
    <link rel="icon" href="favicon.ico">

    <!--Internal CSS => 2nd Priority-->
    <!--<style>
        /* CSS Comments */
        /* CSS Syntax => Selector { property: value; } */
        /* (1) Tag Selector */
    </style>-->

</head>
<body>
    <!--Header-->
    <!--Inline CSS => 1st Priority-->
    <!--The Content Division element-->
    <div class="top-container"><!--กำหนดให้ ตัวหนังสืออยู่ในหมวดหมู่เดียวกัน-->
    <h1>Profile</h1>
    <h2>I'm <span class="name">Nattachai</span> </h2> 
    <h4><i>"Don’t give up on your dreams. Keep sleeping."</i></h4>    
    </div>  
    <hr>

    <!--Menu-->
    <div class="table-menu"><!--กำหนดให้ ตัวหนังสืออยู่ในหมวดหมู่เดียวกัน-->
    <table><!--กำหนดตาราง-->
        <tr><!--กำหนดเเถว-->
            <td>
                <h3><a href="index.html">Profile</a></h3><!--ทำให้สามารถลิ้งเว็บกับ Profile-->
            </td>
            <td>
                <h3><a href="experiences.html">Experiences</a></h3><!--ทำให้สามารถลิ้งเว็บกับ Experiences-->
            </td>
            <td>
                <h3><a href="abilities.html">Abilities</a></h3><!--ทำให้สามารถลิ้งเว็บกับ Abilities-->
            </td>
            <td>
                <h3><a href="projects.html">Projects</a></h3><!--ทำให้สามารถลิ้งเว็บกับ Projects-->
            </td>
            <td>
                <h3><a href="contact.html">Contact</a></h3><!--ทำให้สามารถลิ้งเว็บกับ Contact-->
            </td>
        </tr>
    </table> 
    </div>
    
    <hr>
    <div class="table-content"><!--กำหนดให้ ตัวหนังสืออยู่ในหมวดหมู่เดียวกัน และกำหนด Class table-content-->
    <table>
        <tr>
            <th><h2 >About me</h2>
                <p class="p-Aboutme">   <!--กำหนด Class p-Aboutme-->
                    I used to be an e-spot racer of xshot game. and now has given up and switched to playing valorant, developing skills to be able to compete now in the rank and immortal 
                </p>
                
                <p style="color: aliceblue;">Email: <a href="mailto: linkkak1122@gmail.com">linkkak1122@gmail.com</a></p><!--ทำให้สามารถลิ้งเว็บกับ linkkak1122@gmail.com-->
            </th>
            <th>
                <!--Crop Circle Image: https://crop-circle.imageonline.co/-->
                <p><img src="images/1630902755_Link.jpg" alt="Nattachai" style="width: 60%;"></p>
            </th>
            <th id="th-Details"><h2>Details</h2><!--กำหนด Class th-Details-->
                <p>Name:</p>
                    <p class="p-Name">Nattachai Phukae</p><!--กำหนด Class "p-Name-->
                <p>Location:</p>
                    <p class="p-Name">Thailand</p>
                    <p>Social Media:</p>
                    <p><a href="https://www.youtube.com/channel/UCqZljWCmaE5qlSjv3I6Me3Q" class="fa fa-youtube" style="font-size: 40px; color: red;"></a><!--ทำให้สามารถลิ้งเว็บกับ youtube-->
                        <a href="https://www.facebook.com/chainat.putcat.9" class="fa fa-facebook-square" style="font-size: 40px; color: rgb(7, 114, 255);"></a><!--ทำให้สามารถลิ้งเว็บกับ facebook-->
                        <a href="https://www.instagram.com/nattachai.link/" class="fa fa-instagram" style="font-size: 40px; color: brown;"></a><!--ทำให้สามารถลิ้งเว็บกับ instagram-->
                        
                    </p>
            </th>
        </tr>
    </table>
    </div>
    <hr>
    <p class="p-Footer">© 2021 nattachai</p><!--กำหนด footage-->
</body>
</html>