/* CSS files --> projects.html */
body{
    background-color: #A5DEE5;/*กำหนดสีพื้นหลัง*/
}
.table-menu{
    width:100%; /* กว้าง 100 เปอร์เซ็นต์  */
    text-align: center; /* ทำตัวหนังสือให้อยู่ตรงกลาง  */
    background-color: #FEFDCA;/*กำหนดสีพื้นหลัง*/
}
h1{
    text-align: center; /* ทำตัวหนังสือให้อยู่ตรงกลาง  */
    font-family: cursive;/* กำหนดฟอนต์เป็น  cursive */
    background-color: #E0F9B5;
} 
h4{
    text-align: center; /* ทำตัวหนังสือให้อยู่ตรงกลาง  */
    font-family: Aclonica; /* กำหนดฟอนต์เป็น  Aclonica */
    font-weight: normal;
}
h5{ 
    text-align: center; /* ทำตัวหนังสือให้อยู่ตรงกลาง  */
    font-family: Aclonica; /* กำหนดฟอนต์เป็น  Aclonica */
    font-weight: normal;
}
p{
    text-align: center;     /* ทำตัวหนังสือให้อยู่ตรงกลาง  */
}